:host {
  display: block;
  font-family: Arial, sans-serif;
}

.input-container {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 150px; /* Aumenta a altura mínima */
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
  line-height: 1.4;
  overflow-x: hidden !important; /* Remove scroll horizontal */
  white-space: pre-wrap !important;
  word-break: break-word !important;
}


mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
