<h2 mat-dialog-title>Reportar Conteúdo</h2>

<mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Tipo de problema</mat-label>
    <mat-select [(ngModel)]="selectedIssueType">
      <mat-option *ngFor="let tipo of issueTypes" [value]="tipo.value">
        {{ tipo.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="input-container" style="margin-top: 10px;">
    <textarea
      placeholder="Descreva o motivo do report"
      [(ngModel)]="reportDescription"
      rows="5"
    ></textarea>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-button
    color="primary"
    [disabled]="!reportDescription || !selectedIssueType"
    (click)="onSubmit()"
  >
    Enviar
  </button>
</mat-dialog-actions>

